In [3]:
import pickle as pk
with open('LR1', 'rb') as files:
    lr3 = pk.load(files)

In [4]:
lr3.predict([[3000]])

array([51806.19587435])

In [13]:
import pandas as pd
df3 = pd.read_csv('data.csv')

In [12]:
import os
os.getcwd() #get current directory

'C:\\Users\\Md. Hasibur Rahman\\Desktop'

In [11]:
#change working dir
os.chdir('C:\\Users\\Md. Hasibur Rahman\\Desktop')

In [14]:
os.chdir('C:\\Users\\Md. Hasibur Rahman\\Desktop\\MachineLearning\\Class_05_Scalling')

In [15]:
df3

    area   rent
0   2000  31500
1   2100  35000
2   2500  41050
3   2250  36100
4   3000  52100
5   1900  32500
6   1500  20000
7   1850  24500
8   2700  48000
9   2100  31000
10  2150  34500
11  2100  32000
12  2100  34500
13  2510  40050
14  2250  34100
15  3100  51500
16  1800  30500
17  1550  21000
18  1800  25000
19  2700  47000
20  2110  31500
21  2100  33500
22  3500  70000
23  1200  20000
24  2800  50000
25  3100  53000
26  2750  48000
27  1800  25000
28  2200  31460
29  3100  51400
30  2100  33500
31  2100  35010
32  2500  41100
33  2250  35100
34  3000  52200
35  1900  32300
36  1500  20200
37  1850  24000
38  2700  47500
39  2100  31500
40  2150  34400
41  2100  32020
42  2100  34700
43  2510  40000
44  2250  35000
45  3100  51000
46  1800  30000
47  1550  21500
48  1800  25500
49  2700  47500
50  2110  31000
51  2100  33000
52  3500  70500
53  1200  20100
54  2800  51000
55  3100  54000
56  2750  48500
57  1800  25100
58  2200  31560
59  3100  51600

In [21]:
#save MODEL at a time
pk.dump(lr3, open('LR2', 'wb'))

In [22]:
lr4 = pk.load(open('LR2', 'rb'))